nav.tabs {
  display: flex;
  margin: 1rem 0 2rem;
  a {
    padding: 1rem;
    border: 2px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -2px;
    &.display-active {
      display: none;
    }
    &.active {
      background: var(--background-color);
      border: 2px solid #8ea5a7;
      border-bottom: none;
      &.display-active {
        display: block;
      }
    }
  }
  border-bottom: 2px solid #8ea5a7;
}
